name: Deploy Sample Flask App

on:
  push:
    paths:
      - 'src/**'
      - 'Dockerfile'
      - 'requirements.txt'
      - '.github/workflows/**'
    branches: [main]

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout developer repo
        uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          echo "${DOCKERHUB_TOKEN}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin
      
      - name: Build and push image
        run: |
          docker build -t mostafawr/sample-flask-app:${{ github.sha }} .
          docker push mostafawr/sample-flask-app:${{ github.sha }}
      
      - name: Update platform repo GitOps manifest
        env:
          PLATFORM_REPO_TOKEN: ${{ secrets.PLATFORM_REPO_TOKEN }}
        run: |
          # Clone platform repo with token
          git clone https://x-access-token:${PLATFORM_REPO_TOKEN}@github.com/Mustafa-wr/Kubernetes-Platform-Engineering.git platform
          
          cd platform
          
          cd Falcon-Platform/gitops/environments/overlays/dev
          # Update the image tag using kustomize
          kustomize edit set image mostafawr/sample-flask-app=mostafawr/sample-flask-app:${{ github.sha }}
          
          # Commit and push (add the kustomization.yaml file that was modified)
          git config user.name "GitHub Actions Bot"
          git config user.email "bot@github.com"
          git add .
          git commit -m "chore: update sample-flask to ${{ github.sha }}"
          git push
          git commit -m "chore: update sample-flask to ${{ github.sha }}"
          git push
